  body {
      background-color: #0000FF;
      font-family: Terminal, monospace;
      color:#FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      flex-direction: column;
    }
    
    p {
      margin: 0;
}
.video-background {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #FFFFFF;
  font-family: Terminal, monospace;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}

.tearing-text {
  position: relative;
  animation: tearing 2s infinite linear;
}

@keyframes tearing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

